.articleContent{
    width: 30em;   
}

.articleTitle{
    font-size: medium;
}

.articles{
    margin-top: 20px;  
}


.readButton{
    margin-bottom: 10px;
    margin-top: 10px;
}

.centeredContainer{
    margin-left:35%;
    margin-right:35%;
}
.centeredContainer>section>h3{
    margin-top: 10px;
}