{% extends 'base.html.twig' %}
{% block body %}
<h3 style="margin: 20px;margin-left:40%;">{{ title }}<h5>

<div style="margin: 20px;margin-left:40%;">
    <p>Voici les fonctionnalitées:</p>
    <ul>
        <li>creer un compte</li>
        <li>se connecter</li>
        <li>se déconnecter</li>
        <li>consulter les articles de tout les utilisateurs</li>
        <li>consulter ses propres articles</li>
        <li>editer un articles nous appartenant</li>
        <li>supprimer un article nous appartenant</li>
        <li>laisser un commentaire sur un article</li>
        <li>supprimer un commentaire sur un article</li>
    </ul>
</div>
    
        
{% endblock %}



